:root {
  --maingray: #121212;
  --mainpurple: #BB86FC;
  --mainwhite: #FFFFFF;
}

html {
  padding: 0;
  background-color: var(--maingray);
}

.App {
  text-align: center;
  padding: 0;
  color: var(--mainwhite);
}

.header {
  left: 5%;
  position: absolute;

}

#logo {
  height: 90px;
  width: auto;
  position: absolute;
  left: 2%;
}

.homeScreen {
  height: 100vh;
  padding: 0;
  overflow: hidden;
  position: relative;
}

